// BLue Clouds intro working
@keyframes blueCloudsInto {

    from {
        background-position: 0 6000px;
    }
  
    to {
        @include breakpoint-down($desktop-width-max) {
          background-position: 150px;
        }

        @include breakpoint-down(1050px) {
          background-position: bottom !important;
        }

        @include breakpoint-down($desktop-width-min) {
          background-position: bottom;
        }

    }
}

// ComingSoon Working
@keyframes ComingSoonSlideUp {
    from {
        transform: translate3d(0, 450px, 0);
        visibility: hidden;
        display: none;
    }

    65% {
      transform: translate3d(0, 150px, 0);
      visibility: hidden;
      display: none;
    }

    to {
        transform: translate3d(0, 0, 0);
        visibility: visible;
        display: block;
    }
}

// Slide Up
@keyframes slideInUp {
    from {
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
}

// Slide Down
@keyframes slideOutDown {
    from {
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      transform: translate3d(0, 100%, 0);
    }
  }