.houses__layer {
    margin: 0;
    padding: 0;
    background-image: url(../img/houses.png);
    background-size: cover;
    position: absolute;
    z-index: 200;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 1s ease-in-out;
    background-repeat: no-repeat;
    background-position: 0 150px;
    animation-name: blueCloudsInto;
    animation-duration: 5s;

    @include breakpoint-down($desktop-width-max) {
        background-position: 0 150px;
    }

    @include breakpoint-down(1050px) {
        background-size:contain;
        background-position: bottom !important;
    }

    @include breakpoint-down($tablet-width-min) {
        background-size: contain;
        background-position: bottom;
    }

    &.intro {
        @include breakpoint-down($desktop-width-max) {
            background-position: 0 150px;
        }

        @include breakpoint-down(1050px) {
            background-position: bottom !important;
        }

        @include breakpoint-down($tablet-width-min) {
            background-position: bottom !important;
        }


    }

    &.down {
        @include breakpoint-down($desktop-width-max) {
            background-position: 0 190px;
        }

        @include breakpoint-down(1050px) {
            background-position: bottom !important;
        }

        @include breakpoint-down($tablet-width-min) {
            background-position: bottom !important;
        }
    }
}